
<!--Entre com a sua conta do Facebook, Google ou Linkedin-->
<link rel="stylesheet" href="~/css/Login.css"/>
<div class="Conta">
    <div class="icones">
        <h3>Entre com sua conta</h3>
        <a href="https://www.facebook.com/"><img src="/lib/Imagens/icons8-facebook-48.png" /></a>
        <a href="https://accounts.google.com/"><img src="/lib/Imagens/icons8-google-logo-48.png" /></a>
        <a href="https://br.linkedin.com/"><img src="/lib/Imagens/icons8-linkedin-48.png" /></a>
        </div>

   <div class="Email">
      <form class="formulário">
      <h3 class="icones">Ou use o seu e-mail para entrar</h3>
      <input type="email" id="Email" placeholder="Email" required />
      <br />
      <br/>
      <input type="password" id="Senha" placeholder="Senha" required />
      <br/>
      <br/>
      <a asp-area="" asp-controller="Home" asp-action="Index">Esqueceu a senha?</a>
      <br/>
      <br/>
      <button asp-area="" asp-controller="Home" asp-action="Index">Cadastrar</button>
      </form>
      </div>
   
   
</div>
