*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body {
    background-color: #9F9F9F;
    font-family:'Franklin Gothic';
}
.content{
    border-radius:20px;
    background-color:white;
    width:150vh;
    height:60vh;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top:90px;
    margin-bottom:0;

}

.title{
    color:white;
    font-weight:bold;
    text-transform:capitalize;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    border-radius: 20px;
    background-color: #9F9F9F;
}

.content::before {
    content: "";
    position: absolute;
    left:0;
    background-color: #1C003F;
    width: 50%;
    height: 100%;
    border-top-left-radius:20px;
    border-bottom-left-radius:20px;
}

.first-content{
    display:flex;
    position:relative;
    

}
.icones{
    align-items:center;
}
.inputs{
    display:flex;
    flex-direction:column;
}
.primeira-coluna{
    flex:1 0 auto;
    text-align:center;
    z-index: 10;
}

.segunda-coluna{
    flex:1 0 auto;
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:15px;
    
}
.title-primeira-coluna {
    color: #1C003F;
    font-size:40px;
}

.inputs {
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    right: 50px;
}


#senha {
    background-color: #9F9F9F;
    border: none;
    border-radius: 5px;
    width: 320px;
    height: 45px;
}

#nome {
    background-color: #9F9F9F;
    border: none;
    border-radius: 5px;
    width: 320px;
    height: 45px;
}

#email {
    background-color: #9F9F9F;
    border: none;
    border-radius: 5px;
    width: 320px;
    height: 45px;

}

#confsenha {
    background-color: #9F9F9F;
    border: none;
    border-radius: 5px;
    width: 320px;
    height: 45px;
}

.Entrar-btn {
    background-color: #1C003F;
    border: 1px solid white;
    border-radius: 20px;
    width: 105px;
    height: 5vh;
    margin-top: 10px;
    color: white;
}

    .Entrar-btn:hover {
        background-color: #FFFFFF;
        border: 1px solid #1C003F;
        border-radius: 20px;
        width: 105px;
        height: 5vh;
        margin-top: 10px;
        color: #1C003F;
    }

.descricao{
    color:white;
    font-size:20px;

}
.btn {
    background-color: #1C003F;
    border: 1px solid white;
    border-radius: 10px;
    width: 115px;
    height: 5vh;
    margin-top: 10px;
    color:white;
}

    .btn:hover {
        background-color: #FFFFFF;
        border: 1px solid #1C003F;
        border-radius: 10px;
        width: 115px;
        height: 5vh;
        margin-top: 10px;
        color: #1C003F;
    }
