<!--Link do CSS para estilizar a página Personalizar Roupa-->
<link rel="stylesheet" href="~/css/Personalizar.css"/>
<h1 class="text-center fs-1">Personalizar a sua aqui:</h1>
<!--A Div Customizar vai ser a roupa personalizada conforme o cliente pediu-->
<div class="Custom">
    <!--Adicionando a Camiseta Personalizada para o usuário ver-->
    <img class="rounded mx-auto d-block" src="~/lib/Imagens/Camiseta.jpg" />
    <!--A Classe Roupa é aonde o usuário irá personalizar a descrição da roupa, tamanho da estampa e tamanho-->
    <form>
        <label for="text">Descrição da Roupa:</label>
        <input class="descricao" type="text" id="descricao" required />
       <br/>
        <label for="text">Tamanho da Imagem:</label>
        <input class="Roupa" type="text" id="Tamanho-1" required />
        <br/>
        <label for="text">Tamanho:</label>
        <input class="Roupa" type="text" id="descricao" required />
        <br/>
        <label class="Total" for="text">Total:</label>
        <input class="Roupa" type="text" id="total" required />
        <br/>
         <!--O Botão Ver utiliza Classes CSS e Boostrap-->
        <button asp-area="" asp-controller="Home" asp-action="Index" class="botão text-white btn d-grid gap-2 col-4 mx-auto">Ver</button>
    </form>
</div>
<div class="Coluna">
        <!---div Estampa terá as estampas que o usuário pedir--->
        <div class="Estampa">
            <!--Ajustando o h3 para o centro-->
            <h3 class="row justify-content-center align-items-center">Adicionar imagem da estampa</h3>
        </div>
        <!--Label Descição é a descrição da estampa-->
        <label for="text">Descrição:</label>
        <input type="text" id="descricao-2" required />
        <br />
       <label class="text-center">Tecido da Roupa:</label>
       <label class="text-center">Tamanho:</label>
        <br />
        <!--Opções de Tecido de Roupas para o Usuário escolher-->
        <select>
            <option>Algodão</option>
            <option>Viscose</option>
            <option>Poliéster</option>
            <option>Seda</option>
        </select>
        <!--Opções de Tamanho de Roupas para o Usuário escolher-->
        <select>
            <option>P</option>
            <option>M</option>
            <option>G</option>
            <option>GG</option>
        </select>
        <br/>
        <button asp-area="" asp-controller="Home" asp-action="Index">Personalizar</button>
</div>
