$gradiente: linear-gradient(to right, #004aad, #7F00FF, #E100FF);
$corDaFontePrincipal: #f3f3f3;
$corTextoPreto: #000;
$corVermelho: #b81414;
$corFundoBotao: rgba(0, 0, 1, 0.514);
$corBotaoGradiente: linear-gradient(to right, #3372E3 0%, #7426EF 100%);
$fonteFamiliaPrimaria: 'Open Sans';
$fonteFamiliaSecundaria: 'Anton';
