main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Garante que a div fique centralizada verticalmente */
}

div.quadrado {
    width: 19vw;
    height: 19vh;
    border: 3px solid black;
    background-color: red;
}

footer, nav {
    background-color: #1C003F; /* Cor de fundo especificada */
}

footer *:not(.bg-body-tertiary),
nav * {
    color: #FFFFFF !important; /* Cor branca para todos os elementos, exceto os de cor especificada */
}
